@import 'styles/base/variables';

header {
  background-color: $bg-header;
  display: flex;
  justify-content: center;

  .header-wrapper {
    border: 1px solid black;
    width: 80%;

    &__logo {
      img {
        width: 150px;
      }
    }
  }
}
